@media screen and (max-width: 990px){
	.menu{
		display: block;
		position: absolute;
		width: 100%;
		height: auto;
		top: 80px;
		background-color: rgba(0,0,0,0.7);
		transform: translateX(100%);
	}
	.menu-btn{
		display: block;
	}
	.active{
		transform: translateX(0%);
	}
	.circle-top, .circle-mid, .circle-bot{
		transition: 0.2s;
	}
	.circle-top{
		top: 30px;
		transform: rotate(-40deg);
	}
	.circle-mid{
		opacity: 0;
	}
	.circle-bot{
		bottom: 25px;
		transform: rotate(40deg);
	}
	.advantages-container{
		flex-direction: column;
		margin: 0 1%;
	}
	.advantages-img{
		width: 50%;
		margin: 20px 0;
	}
	.advantages-txt{
		width: 100%;
	}
	.logo{
		width: 205px;
	}
	.plus{
		margin: auto;
	}
	.menu a{
		font-size: 20px;
		color: #fff;
	}
	.abot-btn{
		margin: 50px auto;
	}
	.foo-form {
    	width: 60%;
    	margin: 0px auto;
    	padding: 10px 0;
	}
	.foo-title h2{
		font-size: 35px;
	}
	footer, .wrapper{
		height: auto;
	}

}

@media screen and (max-width: 700px){
	.logo a{
		border-radius: 8px;
	}
	.nav{
		padding: 0 0;
	}
	.about-list{
		top: 0%;
		border-radius: 0;
	}
	.head-slider{
		display: none;
	}
	.advantages-img{
		margin:auto;
		width: 420px;
	}
	.head-container{
		position: relative;
		background-image: url(image/1.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
		z-index: auto;
	}
	.head-box{
		position: relative;
		z-index: 20;
	}
	.head-form{
		width: 50%;
	}
	.programs-block{
		flex-direction: column;
		margin: 0 30px;
	}
	.programs-txt h2{
		font-size: 25px;
	}
	.programs-box{
		width: 100%;
	}
	.programs-title{
		padding: 40px;
	}
	.gallery-container a{
		width: 27%;
		margin: 3%;
	}
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	

}
@media screen and (max-width : 426px){
	.advantages-img{
		width: 100%;
	}
	.plus{
		padding: 0px 15px;
	}
	.foo-form{
		width: 80%;

	}
}
@media screen and (max-width: 576px){
	.nav{
		padding: 0;
	}
	.title{
		position: relative;
		width: 100%;
		right: 0;
		padding: 30px;
		box-sizing: border-box;
	}
	.title h1 , .title p{
		text-align: center;
	}
	.title h1{
		font-size: 40px;
	}
	.title p{
		font-size: 28px;
	}
	.foo-bot{
		flex-direction: column-reverse;
	}
	.num-foo a{
		text-align: center;
	}
	.num-foo h2{
		font-size: 4.340vw;
	}
	.head-form{
		margin-top: 0;
		width: 100%;
	}
	.head-box{
		flex-direction: column;
	}
	.about-txt ul li{
		text-align: center;
	}
	.foo-title h2{
		font-size: 30px;
	}
	.plus li{
		font-size: 21px;
	}
}
@media screen and (max-width: 390px){
	.gallery-container a{
		width: 48%;
		margin: 1%;
	}
	.programs-txt span{
		font-size: 4.5vw;
	}
}